kivy==2.1.0
pillow>=10.0.0,<11.0.0
oss2==2.18.0
requests==2.31.0
crcmod==1.7
pycryptodome==3.19.0
aliyun-python-sdk-kms==2.16.0
aliyun-python-sdk-core==2.13.36
six==1.16.0
jmespath==1.0.1
cryptography==36.0.2
cffi==1.15.1
pyjnius==1.6.1
setuptools==65.5.0
Cython==0.29.36
buildozer==1.5.0
